[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipdb = "*"

[packages]
django = "*"
gunicorn = "*"
psycopg2-binary = "*"
django-environ = "*"
django-extensions = "*"
whitenoise = "*"

[requires]
python_version = "3.7"

[scripts]
test = "python manage.py test"
